<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../images/lekavo-logo-nav.png" type="image/x-icon">

    <title>Le Kavo - Ventes privées de vin</title>
    <meta name="description" content="Le Kavo propose toutes les semaines une vente éphémère de vin d'un grand domaine à prix doux">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Le Kavo - Ventes privées de vin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.lekavo.com/" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Le Kavo propose toutes les semaines une vente éphémère de vin d'un grand domaine à prix doux" />
    <meta property="og:site_name" content="Le Kavo - Ventes privées de vin" />


    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>

  </head>
  <body>
    <div id="body-wrap">
      <%= partial "shared/navbar" %>
      <%= yield %>
      <%= partial "shared/footer" %>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->

  </body>
</html>
